body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.top-section{
    display: flex;
}
.top-section-half{
    width: 50%;
    padding-left: 10%;
}
#focused-id{
    margin-top: 10%;
}
.focused-2022{
    /* font-family: 'Kaushan Script', cursive; */
    font-size: 30px;
    border-left: 3px solid;
    border-image: linear-gradient(salmon,red);
    border-image-slice: 1;
    padding-left: 3%;
    font-weight: 700;
}
.mission{
    color: salmon;
}
.top-paragraph{
     text-align: justify;
    font-size: 18px;    
}
#paragraph-item{
    padding-top: 3px;
}
.scroll{
    font-size: 16px;
    padding-top: 2%;
}
.explore-me-button{
    text-decoration: none;
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
    background-image: linear-gradient(salmon,tomato);
    text-transform: uppercase;
}
.explore-me-button:hover{
    color: black;
    background-image: linear-gradient(salmon, red);
    border-radius: 6px;
}
.top-section-half img{
    width: 80%;
}

.mission-heading{
    text-align: center;
    margin-top: 8%;
    font-size: 30px;
    font-weight: bold;
}
.mission-section{
    display: flex;
}
.item{
    float: left;
    width: 27%;
}
 
.item img{
    width: 40%;
    padding-left: 5%;
}
.mission-item{
    margin-left: 10%;
    /* margin-right:5%; */
    border-radius: 25px;
    background-image: linear-gradient(#C89D93, #CACFD2);
}
.vision-section{
    margin-left: 2%;
    border-radius: 25px;
    background-image: linear-gradient(#FDEDEC, #FADBD8);
      
}
.goals-section{
    margin-left: 2%;
    margin-right: 10%;
    border-radius: 25px;
    background-image: linear-gradient(#AEB6BF, #AAB7B8);
}
.mission-section h3{
    margin-left: 35px;
    font-size: 25px;
}
.mission-section p{
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 10%;
}
